{% extends "base.html" %}
{% set active_page = "student" %}

{% block title %}
<title>Student Admin</title>
{% endblock title %}

{% block body %}
<h2 class="h2 text-center pt-4">Add a Student</h2>
<div class="d-flex container-liquid justify-content-center">

    <form action="/student" method="POST" class="pt-4 needs-validation w-100" novalidate>
		
		<div class="form-row justify-content-center">

			<div class="form-group col-md-2">
				<label for="first_name" class="sr-only">First Name</label>
            	<input type="text" class="form-control" data-toggle="tooltip" data-placement="right" title="First name" id="first_name" placeholder="James" maxlength="100" name="first_name" required>
            	<div class="invalid-feedback text-center">
                Please enter a valid first name
            	</div>	
			</div>

			<div class="form-group col-md-2">
				<label for="last_name" class="sr-only">Last Name</label>
            	<input type="text" class="form-control" data-toggle="tooltip" data-placement="right" title="Last name" id="last_name" placeholder="Smith" maxlength="100" name="last_name" required>
            	<div class="invalid-feedback text-center">
                Please enter a valid last name
            	</div>	
			</div>
		</div>

		<div class="row justify-content-center">
	    	<div class="form-group col-md-3">
	    		<label for="student_id" class="sr-only">Student Id</label>
	    		<input type="number" class="form-control" data-toggle="tooltip" data-placement="right" title="Student id" id="student_id" placeholder="123456789" min="100000000" max="999999999" name="student_id" required>
	            <div class="invalid-feedback text-center">
	                Please enter a valid student id between 100000000 and 999999999
	            </div>
	    	</div>
    	</div>
		
    	<div class="form-group form-inline justify-content-center">
    		<label for="start_year" class="sr-only">Start Year</label>
    		<input type="number" min="1950" max="2050" class="form-control" data-toggle="tooltip" data-placement="right" title="Student start date" placeholder="2020" id="start_year" name="start_year"required>
            <div class="invalid-feedback text-center">
                Please enter a valid start year between 1950 and 2050
            </div>
    	</div>


        <div class="row justify-content-center align-self-center">
    		<div class="form-group m-1">
    			<button type="submit" class="btn btn-outline-primary">Submit</button>
    		</div>

    		<div class="form-group m-1">
    			<button type="reset" href="/student" class="btn btn-outline-primary">Reset</button>
    		</div>
        </div>

    </form>

</div>

<div class="text-center pt-5 bottom-ephemeral-message">
    <h5>{{ message }}</h5>
</div>
{% endblock body %}