{% extends "base.html" %}
{% set active_page = "lookup" %}

{% block title %}
<title>Student Lookup</title>
{% endblock title %}

{% block body %}
<h2 class="h2 text-center pt-4">Student Lookup</h2>
<div class="d-flex container-liquid justify-content-center">

	<form action="/" method="POST" class="pt-4 needs-validation w-100" novalidate>

		<div class="row justify-content-center">
	    	<div class="form-group col-md-3">
	    		<label for="student-name-lookup" class="sr-only">Student Name</label>
	    		<input type="text" class="form-control" id="student-name-lookup" placeholder="James Smith" data-toggle="tooltip" data-placement="right" title="Student name" maxlength="100" name="student_name" list="student_name" required>
	    		<input type="hidden" id="hidden-studentid" name="student_id">
	    		<datalist id="student_name">
	    			{% for student in students %}
	    				<option data-id="{{ student['id'] }}" value="{{ student['name'] }} - {{ student['id'] }}"></option>
	    			{% endfor %}
	    		</datalist>
	            <div class="invalid-feedback text-center">
	                Please enter a name
	            </div>
	    	</div>
    	</div>

		<div class="row justify-content-center align-self-center">
    		<div class="form-group m-1">
    			<button type="submit" class="btn btn-outline-primary">Submit</button>
    		</div>
    	</div>

	</form>
</div>

{% if student %}
<div class="container justify-content-center bottom-ephemeral-message">
	<div class="container">

			<div class="bottom-ephemeral-message col-sm text-center">
				<h4 class="h4">{{ student[1] }} {{ student[2] }}</h4>
				<p>Id: {{ student[0] }} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Start Year: {{ student[3] }}</p>
			</div>

	</div>
	
	<form action="/" method="POST" class="needs-validation" novalidate>
	<table class="table table-hover table-sm">
		<thead>
			<tr>
				{% for title in ["Course Code", "Course Title", "Delivery Year"] %}
				<th id="zapborder" scope="col">{{ title }}</th>
				{% endfor %}

			</tr>
		</thead>
		<tbody>
			{% for row in student_courses %}
			<tr>
				{% for data in row %}
				<td>{{ data }}</td>
				{% endfor %}

			</tr>
			{% endfor %}
			{% if courses %}
			<tr>
				<td class=align-middle>
					<label for="course-title-lookup">Add a Course</label>
				</td>
				<td>
		    		<input type="text" class="form-control" id="course-title-lookup" placeholder="Introduction to Computer Programming" data-toggle="tooltip" data-placement="bottom" title="Course title" maxlength="100" name="course_title" list="course_title" required>
		    		<input type="hidden" id="hidden-coursecode" name="course_code">
		    		<input type="hidden" id="hidden-studentid" name="student_id" value={{ student[0] }}>
		    		<datalist id="course_title">
		    			{% for course in courses %}
		    				<option data-id="{{ course['code'] }}" value="{{ course['title'] }} - {{ course['code'] }}">{{ course['year'] }}</option>
		    			{% endfor %}
		    		</datalist>
		            <div class="invalid-feedback text-center">
		                Please select a course
		            </div>
				</td>
				<td>
	    			<button type="submit" class="btn btn-outline-primary">Submit</button>
				</td>
			</tr>
			{% endif %}
		</tbody>
	</table>

	</form>
</div>

{% endif %}

<div class="text-center pt-5 bottom-ephemeral-message">
    <h5 class="h5">{{ message }}</h5>
</div>

{% endblock body %}