{% extends "lookupStudent.html" %}

{% if student_courses %}
<div class="container justify-content-center bottom-ephemeral-message">
	<div class="container">

			<div class="bottom-ephemeral-message col-sm text-center">
				<h4 class="h4">{{ student[1] }} {{ student[2] }}</h4>
				<p>Id: {{ student[0] }} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Start Year: {{ student[3] }}</p>
			</div>

	</div>
	
	<form action=""></form>
	<table class="table table-hover table-sm">
		<thead>
			<tr>
				{% for title in ["Course Code", "Course Title", "Delivery Year"] %}
				<th id="zapborder" scope="col">{{ title }}</th>
				{% endfor %}

			</tr>
		</thead>
		<tbody>
			{% for row in student_courses %}
			<tr>
				{% for data in row %}
				<td>{{ data }}</td>
				{% endfor %}

			</tr>
			{% endfor %}
			<tr>
				<td class=align-middle>
					<label for="course-title-lookup">Add a Course</label>
				</td>
				<td>
		    		<input type="text" class="form-control" id="course-title-lookup" placeholder="Introduction to Computer Programming" data-toggle="tooltip" data-placement="right" title="Course title" maxlength="100" name="course_title" list="course_title" required>
		    		<input type="hidden" id="hidden-coursecode" name="course_code">
		    		<datalist id="course_title">
		    			{% for course in courses %}
		    				<option data-id="{{ course['code'] }}" value="{{ course['title'] }}">{{ course['code'] }}-{{ course['year'] }}</option>
		    			{% endfor %}
		    		</datalist>
		            <div class="invalid-feedback text-center">
		                Please select a course
		            </div>
				</td>
				<td>
	    			<button type="submit" class="btn btn-outline-primary">Submit</button>
				</td>
			</tr>
		</tbody>
	</table>

	</form>
</div>

{% endif %}